html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  background-color: $white;
  color: $black;
  font-family: $font-secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  font-family: $font;
  font-weight: 700;
}

a {
  transition: all 0.3s;

  &:hover {
    color: $blue;
  }
}
