html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  position: relative;
  background-color: $white;
  color: $black;
  font-family: $font-secondary;
  width: 100%;
}

div.content {
  padding: 0 $page-margin;

  @media (min-width: $breakpoint-tablet) {
    padding: 0 $page-margin-tablet;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: 0 $page-margin-desktop;
  }

  main {
    max-width: 62.5rem;
    margin: 0 auto;
  }
}
