header.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: $page-margin $page-margin 0;

  @media (min-width: $breakpoint-tablet) {
    padding: $page-margin $page-margin-tablet 0;
  }

  &.active {
    background-color: $white;
  }

  a.brand {
    display: inline-block;
    margin-bottom: $page-margin;

    .logo {
      width: 2.5rem;
    }

    .logo-words {
      display: none;
    }
  }

  .banner__hamburger {
    position: absolute;
    top: 1.675rem;
    right: $page-margin;
    width: 2rem;
    height: 1.65rem;
    z-index: 2;

    @media (min-width: $breakpoint-tablet) {
      right: $page-margin-tablet;
    }

    &.active {
      span {
        &:nth-child(1) {
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          width: 0%;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }

    span {
      position: absolute;
      left: 0;
      background-color: $blue;
      width: 100%;
      height: 0.33rem;
      transition: all 0.3s ease-out;

      &:nth-child(1) {
        top: 0;
        transform-origin: top left;
      }

      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }

      &:nth-child(3) {
        bottom: 0;
        transform-origin: bottom left;
      }
    }
  }

  nav.nav-primary {
    display: none;
    position: relative;
    background-color: $white;
    width: 100%;
    max-height: calc(100vh - 5rem);
    overflow-y: scroll;
    z-index: 1;

    ul#menu-main-menu {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        position: relative;
        padding: $page-margin 0;
        border-top: 0.0625rem solid rgba($black, 0.5);

        &.active {
          &.menu-item-has-children {
            &::after {
              content: '';
              transform: translateY(-50%) rotate(180deg);
            }
          }

          & > a {
            color: rgba($black, 1);
          }
        }

        &.menu-item-has-children {
          &::before,
          &::after {
            content: '';
            display: block;
            position: absolute;
            top: 2.1875rem;
            right: 0;
            transform: translateY(-50%);
            transform-style: preserve-3d;
            background-color: $blue;
            width: 1.5rem;
            height: 0.375rem;
            transition: all 0.3s ease-out;
          }

          &::after {
            content: '';
            transform: translateY(-50%) rotate(90deg);
          }
        }

        a {
          color: rgba($black, 0.5);
          font-family: $font;
          font-size: 1.875rem;
          font-weight: 500;
          line-height: 1;
          text-decoration: none;
        }

        ul.sub-menu {
          display: block;
          list-style: none;
          padding: 0;
          margin: 0;
          overflow: hidden;

          li {
            border: none;
            padding: 1.25rem 0 0;
            opacity: 0;

            &:first-child {
              padding-top: 1.75rem;
            }

            a {
              font-size: 1.25rem;
            }
          }
        }
      }
    }
  }
}
